---
layout: jade/card
---

#card.table

    .table-row.top
        ul.table-cell

            li: a(href="#") DE
            li: a(href="#") EN
            li: a(href="#") FR

    .table-row
        .table-cell
            #card-motif.table.center

                .table-cell.left
                    | www&thinsp;.
                    br
                    a(href="mailto:mail@example.com") mail&thinsp;@

                .table-cell.middle
                    img(style="width: 100%;", src="assets/images/hoppe.png", alt="Niels Hoppe")

                .table-cell.right
                    br
                    | .&thinsp;de

    .table-row.bottom
        .table-cell
            .table

                .table-cell
                    a(href="#") Who I am

                .table-cell
                    a(href="about.html") What I do

                .table-cell
                    a(href="#") What I think

                .table-cell
                    a(href="#") Contact me
