html
    head
        link(rel="stylesheet", href="/assets/styles/envelope.css")
    body.table
        .table-cell
            #object.center.envelope
                block body
    script(type="text/javascript", src="assets/scripts/yellow.js")
