extends base.jade
            
append styles
  link(rel="stylesheet", href="/assets/styles/sheet.css")
    
block body
  #sheet
            
    +bs-navbar()
      //'Niels Hoppe')
      +bs-navbar-nav()
        +bs-nav-link('/') Home
        +bs-nav-link('/about') About
        +bs-nav-link('/articles') Articles
        +bs-nav-link('/contact') Contact
              
      +bs-navbar-nav().navbar-right
        include ../partials/languages.jade
          
    #content
      block content
        +jk-content()
