.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 2.25rem;
}

/*
 * Cover layout
 */

.layout-cover {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}

/* Cover links */
.layout-cover .cover a {
  color: #fff;
}

/* About section */
.cover-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 2.25rem;
}

/* Cover nav */
.cover-nav {
  margin-bottom: 1rem;
}
.layout-cover .nav-item {
  display: inline;
  line-height: 1.75;
  padding: 0 1.25rem;
}
.sidebar .nav-item {
  display: block;
  line-height: 1.75;
}
.sidebar a.nav-item:hover,
.sidebar a.nav-item:focus,
.layout-cover a.nav-item:hover,
.layout-cover a.nav-item:focus {
  text-decoration: underline;
}
.layout-cover .nav-item.active,
.sidebar .nav-item.active {
  font-weight: bold;
}

/* Yellow */
.theme-base-0a .cover {
  background-color: #f4bf75;
}
.theme-base-0a .content a {
  color: #f4bf75;
}

.theme-base-0a.layout-cover {
  background-color: #f4bf75;
}
