mixin bs-nav ()
  ul.nav(class!=attributes.class)
    block
        
mixin bs-nav-link (href)
  li(class!= attributes.class)
    a(href= href)
      block
      //-span.sr-only (current)
      
mixin bs-nav-dropdown (label)
  li.dropdown
    a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
      | #{ label }
      span.caret
    ul.dropdown-menu
      block
        
mixin bs-nav-divider ()
  li(role="separator").divider
      
mixin bs-navbar-nav ()
  ul.nav.navbar-nav(class!=attributes.class)
    block

//-
  mixin bs-navbar-form
  form.navbar-form navbar-left" role="search"
    .form-group">
      input type="text".form-control" placeholder="Search">
    button type="submit".btn btn-default">Submit</button>
    
mixin bs-navbar (brand)
  nav.navbar.navbar-default
    .container-fluid
      //- Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        if brand
          a.navbar-brand(href="#")= brand

      //- Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        block
      
mixin bs-form-group (label)
  if label
    .form-group
      label.control-label.col-sm-2= label
      .col-sm-10
        block
  else
    .form-group
      .col-sm-10.col-sm-offset-2
        block
