
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

// Required bootstrap modules
@import "bootstrap-scss/functions";
@import "bootstrap/variables"; // Customized variables
// @import "bootstrap-scss/variables";
@import "bootstrap-scss/mixins";
@import "bootstrap/mixins";

// Optional bootstrap modules
@import "bootstrap-scss/utilities";
@import "bootstrap-scss/transitions";
@import "bootstrap-scss/reboot";
@import "bootstrap-scss/type";
@import "bootstrap-scss/images";
@import "bootstrap-scss/code";
@import "bootstrap-scss/grid";
@import "bootstrap-scss/nav";
@import "bootstrap-scss/navbar";
@import "bootstrap/navbar";

p a {
    background-color: $gray-300;

    &:hover,
    &:focus {
        background-color: $yellow-light;
    }
}

.table {

    display: table;
    height: 100%;
    width: 100%;
}

.table-row {

    display: table-row;
}

.table-cell {

    display: table-cell;
    align: center;
    vertical-align: middle;
}

.center {

    margin: 0 auto;
}


body {

    margin: 0;
    padding: 0;

    background: $gold; /* Old browsers */
    //background: -moz-radial-gradient(center, ellipse cover,  $yellow-warm 0%, #efd215 100%); /* FF3.6+ */
    //background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $yellow-warm), color-stop(100%, #efd215)); /* Chrome, Safari4+ */
    //background: -webkit-radial-gradient(center, ellipse cover, $yellow-warm 0%, #efd215 100%); /* Chrome10+, Safari5.1+ */
    //background: -o-radial-gradient(center, ellipse cover, $yellow-warm 0%, #efd215 100%); /* Opera 12+ */
    //background: -ms-radial-gradient(center, ellipse cover, $yellow-warm 0%, #efd215 100%); /* IE10+ */
    //background: radial-gradient(ellipse at center, $yellow-warm 0%, #efd215 100%); /* W3C */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$yellow-warm', endColorstr='#efd215', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
