//
    +bs-nav-link('#') DE
    +bs-nav-link('#') EN
    +bs-nav-link('#') FR
    +bs-nav-link('#')
        //img(src="http://www.w3.org/RDF/icons/rdf_flyer.24", alt="RDF Resource Description Framework Flyer Icon")
        img(src="assets/images/rdf_flyer.24.gif", alt="RDF Resource Description Framework Flyer Icon")
