$yellow: #ffff00;
$yellow-warm: #fcea49;

/*
$envelope-bottom-color: #dbdad6;
$envelope-side-color: #dfded9;
$envelope-bottom-edge-color: #ebeae5;
$envelope-top-edge-color: #f0efeb;
$envelope-top-color: #ebeae5;
$envelope-inside-color: #ebeae5;
*/
$envelope-top-color: #ffffff;
$envelope-top-edge-color: #fafafa;
$envelope-side-color: #ffffff;
$envelope-bottom-color: #ffffff;
$envelope-bottom-edge-color: #fafafa;
$envelope-inside-color: #f5f5f5;

$card-shadow-color: #cc9900;
