@import 'colors.scss';

.table {

    display: table;
    height: 100%;
    width: 100%;
}

.table-row {

    display: table-row;
}

.table-cell {

    display: table-cell;
    align: center;
    vertical-align: middle;
}

.center {

    margin: 0 auto;
}


body {

    margin: 0;
    padding: 0;

    background: #fcea49; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #fcea49 0%, #efd215 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fcea49), color-stop(100%, #efd215)); /* Chrome, Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #fcea49 0%, #efd215 100%); /* Chrome10+, Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #fcea49 0%, #efd215 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #fcea49 0%, #efd215 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #fcea49 0%, #efd215 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcea49', endColorstr='#efd215', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
