.layout-sheet {

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

& {

    @extend .container;
}

#content {

    background-color: white;
}

.cv-info {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
        @include make-col(8, 12);
    }
}
.cv-image {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
        @include make-col(4, 12);

        order: 13;
    }
}
.cv-info-label {
    @include make-col-ready();

    font-weight: normal;

    @include media-breakpoint-up(md) {
        @include make-col(3, 8);

        text-align: right;
    }
}
.cv-info-value {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
        @include make-col(5, 8);
    }
}

/* Small devices (tablets, 768px and up) */
@include media-breakpoint-up(sm) {

    #content {
        @include paper;

        padding: $spacer * 4 $spacer * 3.5;
    }
}

/* Medium devices (desktops, 992px and up) */
@include media-breakpoint-up(md) {

    #content {
        // padding: $padding-large-vertical * 5 $padding-large-horizontal * 3.5;
    }
}

/* Large devices (large desktops, 1200px and up) */
// @media (min-width: $screen-lg-min) {
// }

}
