.row(id="{{ include.work.@id }}")
    .col-date
        | {% include cv-date.html start=include.work.startDate end=include.work.endDate %}
    .col-details
        p
            a.show-details-switch(href= "#" + "{{ include.work.@id }}")
              | {{ include.work.jobTitle }}
            br.hidden-md.hidden-lg
            |  at 
            a(href="{{ include.work.employedIn.URL }}") {{ include.work.employedIn.Name }}
        .description.hidden
            | {{ include.work.jobDescription }}
