| You can show or hide 
a#show-past-switch.on(href="#") past
|  or 
//-| ,
a#show-present-switch.on(href="#") present
|  activities and achievements.
//-|  or 
//-a#show-future-switch.off(href="#") future
//-| Entries with a date in the future bear witness to my ambitions but are purely fictional at present.
