<a class="nav-item{% if page.url == '/articles/' %} active{% endif %}" href="{{ site.basepath}}/articles/">Articles</a>
<a class="nav-item{% if page.url == '/about/' %} active{% endif %}" href="{{ site.basepath}}/about/">About</a>
