<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta>
<base href="/">
<title>{{ page.title }} - {{ site.title }}</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
<link rel="stylesheet" href="/assets/styles/main.css">
<style type="text/css">
.fa-gravatar:before {
    content: "\f1a0";
}
.fa-gravatar {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
                </style>
</head>
<body>
<div class="layout-card">
<nav xmlns="" xmlns:bs="http://vocab.nielshoppe.de/twbs/4.1#" class="navbar navbar-expand-lg navbar-outside"><button class="navbar-toggler" type="button" data-toggle="collapse" aria-expand="false" aria-label="Toggle navigation" aria-controls="navbar-header-x" data-target="#navbar-header-x"><span class="navbar-toggler-icon"></span></button><div class="collapse navbar-collapse" id="navbar-header-x"><ul class="navbar-nav ">
<li class="nav-item "><a class="nav-link" href="/">Home</a></li>
<li class="nav-item "><a class="nav-link" href="/about">About</a></li>
<li class="nav-item "><a class="nav-link" href="/articles">Articles</a></li>
<li class="nav-item "><a class="nav-link" href="/contact">Contact</a></li>
</ul></div></nav><div id="content">{{ content }}</div>
<nav xmlns="" xmlns:bs="http://vocab.nielshoppe.de/twbs/4.1#" class="navbar navbar-expand-lg navbar-outside navbar-expand"><button class="navbar-toggler" type="button" data-toggle="collapse" aria-expand="false" aria-label="Toggle navigation" aria-controls="navbar-footer-x" data-target="#navbar-footer-x"><span class="navbar-toggler-icon"></span></button><div class="collapse navbar-collapse" id="navbar-footer-x">
<span class="navbar-text mr-auto">&copy; 2006 - 2018 Niels Hoppe</span><ul class="navbar-nav "><li class="nav-item "><a class="nav-link" href="/legal">Legal notice</a></li></ul>
</div></nav>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script><script src="/assets/scripts/yellow.js"></script>
</body>
</html>
